*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
.contenitore{
    width: 90%;
    background-color: aqua;
}
hr{
    border: 1px solid black;
    margin-top: 10px;
}
/*HEADER*/
.contenitore-main{
    /* background-color: lime; */
    width: 1000px;
    height: 1000px;
    margin: auto;
    margin-top: 150px;
}
.btn{
    
    border: 3px solid lightgrey;
    display: inline-block;
    padding: 10px;
    border-radius: 10px;
    margin-left: 30px;
    font-weight: bolder;
    margin-top: 20px;
}
#btn1{
    background-color: #47adf1;
    color: white;
    border: 1px solid #47adf1;
}
#btn2{
    background-color: white;
    color: lightgrey;
    border: 1px solid lightgrey;
}
.lista{
    margin-left: 20px;
    list-style: none;
}
.head-list{
    color: #444851;
    font-size: 25px;
    font-weight: bolder;
    
    

}
.remove-style{
    list-style: none;
}
.font-lista{
    font-size: 18px;
    font-weight: normal;
    
}
.simboli{
    
    font-size: 15px;
    border-radius: 50%;
    padding: 3px;
    margin-right: 10px;
    
    font-weight: bolder;
}
li{
    margin-bottom: 10px;
}
#cross{
    border: 2px solid #ec554c;
    color: #ec554c;
}
#check{
    border: 2px solid #7eccba;
    color: #7eccba;
}
.btn-list{
    
    border-radius: 10px;
    padding: 6px;
    margin-left: 10px;
    color: white;
    font-size: 13px;
    font-weight: bolder;
}
#btn-editorial{
    border: 1px solid #45abea;
    background-color: #45abea;
}
#btn-goals{
    border: 1px solid #9c72e4;
    background-color: #9c72e4;
}

#btn-recruit{
    border: 1px solid #64c0a9;
    background-color: #64c0a9
}

#btn-mobile{
    border: 1px solid #f29e33;
    background-color: #f29e33;
}

#btn-website
{
    border: 1px solid #d863a1;
    background-color: #d863a1;
}

#btn-sales{
    border: 1px solid #b0c926;
    background-color: #b0c926;
}
