*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* COMMON */
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f6f8f9;
}
.contenitore{
    width: 90%;
    background-color: white;
}
hr{
    border: 2px solid lightgray;
    margin-top: 10px;
}
.mrgn-bot{
    margin-bottom: 10px;
}

/*HEADER*/
.vertical{
    display: inline-block;
    vertical-align: middle;
}
.logo img{
    width: 80px;
    padding: 10px 5px 10px 20px;
}
.logo-text{
    font-size: 30px;
    font-weight: bolder;
}
/* MAIN */
.contenitore-main{
    background-color: white;
    width: 1200px;
    height: 1000px;
    margin: auto;
    margin-top: 150px;
}
.item-arrow{
    font-size: 35px;
}
.btn{
    display: inline-block;
    padding: 10px;
    border-radius: 10px;
    margin-left: 30px;
    font-weight: bolder;
    margin-top: 20px;
}
#btn1{
    background-color: #47adf1;
    color: white;
    border: 1px solid #47adf1;
}
#btn2{
    background-color: white;
    color: lightgrey;
    border: 1px solid lightgrey;
}
.lista{
    margin-left: 20px;
    list-style: none;
}
.head-list{
    color: #444851;
    font-size: 25px;
    font-weight: bolder;
 }
.remove-style{
    list-style-type: none;
}
.font-lista{
    font-size: 18px;
    font-weight: normal;
    
}
.simboli{
    
    font-size: 15px;
    border-radius: 50%;
    padding: 3px;
    margin-right: 10px;
    
    font-weight: bolder;
}
li{
    margin-bottom: 40px;
    margin-top: 30px;
}    
.cross{
    border: 2px solid #ec554c;
    color: #ec554c;
}
.check{
    border: 2px solid #7eccba;
    color: #7eccba;
}
.btn-list{
    
    border-radius: 10px;
    padding: 6px;
    margin-left: 10px;
    color: white;
    font-size: 13px;
    font-weight: bolder;
}
.btn-editorial{
    border: 1px solid #45abea;
    background-color: #45abea;
}
.btn-goals{
    border: 1px solid #9c72e4;
    background-color: #9c72e4;
}

.btn-recruit{
    border: 1px solid #64c0a9;
    background-color: #64c0a9
}

.btn-mobile{
    border: 1px solid #f29e33;
    background-color: #f29e33;
}

.btn-website
{
    border: 1px solid #d863a1;
    background-color: #d863a1;
}

.btn-sales{
    border: 1px solid #b0c926;
    background-color: #b0c926;
}
